
@font-face {
    font-family: InterSemiBold;
    src: url('../fonts/Inter-SemiBold.otf');
}

@font-face {
    font-family: InterRegular;
    src: url('../fonts/Inter-Regular.otf');
}

@font-face {
    font-family: InterBold;
    src: url('../fonts/Inter-Bold.otf');
}

@font-face {
    font-family: InterItalic;
    src: url('../fonts/Inter-Italic.otf');
}

@font-face {
    font-family: InterLight;
    src: url('../fonts/Inter-Light.otf');
}

@font-face {
    font-family: InterExtraBold;
    src: url('../fonts/Inter-ExtraBold.otf');
}

@font-face {
    font-family: InterMedium;
    src: url('../fonts/Inter-Medium.otf');
}

:root {
    --main-bg-color: #F0F2F4;
    --bg-button: #FF7700;
    --bg-button-hover: #FF9131;
    --text-color-menu: #686868;
    --color-white: #FFFFFF;
    --text-color-main: #222222;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--main-bg-color);
}

.container {
    padding: 0 16px;
    margin: 0 auto;
}

/*Header*/
.header {
    padding: 16px 0;
}

.header .container {
    display: grid;
    grid-template-columns: 140px 80px;
    grid-template-rows: 40px 40px; 
    justify-content: space-between;
    padding: 0 16px;
    position: relative;
}

.header__buttons {
    display: grid;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 16px;
}

.header__burger {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 79px;
    height: 40px;
    background: var(--bg-button); 
    border-radius: 8px;
    border: none;
    cursor: pointer;
    z-index: 100;
}

.header__burger:hover {
    background: var(--bg-button-hover);
}

.header__button {
    width: 295px;
    height: 40px;
    padding: 6px 32px;
    margin: 0 auto;
    margin-left: -73%;
    background: var(--bg-button); 
    border-radius: 8px;
    border: none;
    font-family: InterSemiBold;
    color: var(--color-white);
    font-size: 16px;
    cursor: pointer;
}

.header__button:hover {
    background: var(--bg-button-hover);
}

.header__menu {
    display: none;
    position: fixed;
    top: 6%;
    right: 5%;
    width: 300px;
    height: 580px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-white);
    box-shadow: 0px 15px 60px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    font-family: InterSemiBold;
    color: var(--text-color-menu);
    z-index: 101;
}

.header__menu.active {
    display: flex;
}

.close {
    display: none;
    align-items: center;
    justify-content: center;
    width: 79px;
    padding: 7px 30px;
    background: var(--bg-button);
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.close svg {
    width: 20px;
    height: 20px;
}

.close:hover {
    background: var(--bg-button-hover);
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    margin-top: 8px;
}

.menu__item {
    list-style: none;
    text-align: center;
}

.menu__item a {
    text-decoration: none;
    font-family: InterSemiBold;
    font-size: 20px;
    line-height: 24px;
    color: var(--text-color-menu);
}

.header__mode {
    position: fixed;
    bottom: 55%;
    left: 60%;
    transform: translateX(-50%);
    display: none;
    gap: 10px;
    margin-top: auto;
    padding: 20px;
    width: 100%;
    z-index: 101;
}

.mode__info {
    color: var(--text-color-menu);
}

.mode__title {
    font-family: InterLight;
    font-size: 14px;
    opacity: 0.8;
}

.mode__time {
    font-family: InterSemiBold;
    font-size: 16px;
}


.menu__item {
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
}

.header__btn {
    position: absolute;
    bottom: 8px;
    width: 95%;
    height: 40px;
    margin: 0 auto;
    padding: 6px 32px;
    background: var(--bg-button); 
    border-radius: 8px;
    border: none;
    font-family: InterSemiBold;
    color: var(--color-white);
    font-size: 16px;
    cursor: pointer;
}

.header__button:hover, .header__burger:hover {
    background-color: var(--bg-button-hover);
}

body.no-scroll {
    overflow: hidden;
}

/*Блок с таймером и акцией*/
.promo {
    height: 670px;
    background-image: url('../img/main-img-mobile.png');
    background-position-y: 255%;
    background-size: cover;
}

.promo__text {
    position: static;
    top: 0;
    z-index: 2;
    font-family: InterSemiBold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--text-color-main);
    margin-bottom: 16px;
}

.promo__timer-title {
    font-family: InterSemiBold;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    color: var(--text-color-main);
    margin-bottom: 16px;
}

.timer {
    display: flex;
    justify-content: center;
    gap: 8px;
    color: #6F6A6A;
    margin-bottom: 16px;
}

.separator {
    margin: auto 0;
    padding: 8px 0px;
    font-family: InterSemiBold;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
}

.timer__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 59px;
    height: 60px;
    background: var(--color-white);
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    font-family: InterSemiBold;
    font-size: 24px;
}

.timer__label {
    font-size: 12px;
}

.counter__text {
    display: block;
    font-family: InterSemiBold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--text-color-main);
}

.promo__content {
    position: relative;
    margin-top: 38px;
    width: 100%;
    height: 300px;
}

.promo__dignity {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 186px;
    height: 38px;
    margin: 0 auto;
    background: var(--color-white);
    border-radius: 8px;
    transform: rotate(-2deg);
    font-family: InterItalic;
    font-size: 18px;
    font-weight: 700;
    color: var(--text-color-main);
}

.promo__title {
    position: absolute;
    top: 48px;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 38px;
    background: var(--color-white);
    border-radius: 8px;
    transform: rotate(2deg) translateX(-50%);
    font-family: InterItalic;
    font-weight: 700;
    font-size: 18px;
    color: var(--text-color-main);
    z-index: -2;
}

.promo__highlight {
    position: absolute;
    top: 32%;
    right: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 123px;
    height: 38px;
    background: #F5CF77;
    border-radius: 32px;
    transform: rotate(4deg) translatey(-50%);    
    font-family: InterItalic;
    font-weight: 700;
    font-size: 18px;
    color: var(--text-color-main);
    z-index: -1;
}

.promo__img {
position: absolute;
width: 100%;
top: 24%;
left: 0;
}

.promo__description {
    position: absolute;
    left: 50%;
    width: 100%;
    padding: 0px 0px 16px;
    transform: translateX(-50%);
    bottom: 0;
    border-bottom: 1px solid #686868;
    font-family: InterRegular;
    font-size: 16px;
}

.promo__description span {
    font-family: InterSemiBold;
}

.promo__footer {
    position: absolute;
    bottom: -27%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.promo_button {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 361px;
    padding: 8px 8px 8px 24px;
    background: #FFCC00;
    border-radius: 8px;
    border: none;
    font-family: InterSemiBold;
    font-size: 22px;
    color: var(--text-color-main);
    cursor: pointer;
}

.promo_button svg {
    padding: 15px;
    background-color: var(--bg-button);
    border-radius: 8px;
}

.promo_button svg:hover {
    background-color: var(--bg-button-hover);
}

/*Блок с преимуществами и наградами*/
.advantages {
    position: relative;
    height: 500px;
}
 
.advantages__item {
    width: 90%;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px;
    background-color: var(--color-white);
    box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    font-family: InterRegular;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.advantages__item:hover {
    transform: scale(1.05); 
}

.advantages__item:first-child {
    position: absolute;
    top: -10%;
    left: 2%;
}

.advantages__item:nth-child(2) {
    position: absolute;
    top: 25%;
    left: 2%;
}

 .advantages__item:nth-child(3) {
    position: absolute;
    top: 60%;
    left: 2%;
} 

.advantages__img {
    position: relative;
}

.advantages__text span {
    font-weight: bold;
}

.advantages__cup {
    position: absolute;
    top: -26%;
    left: 50%;
    transform: translateX(-50%);
}

.advantages_pd {
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translateX(-50%);
}

.advantages__2gis {
    position: absolute;
    left: -18%;
    top: 0;
    z-index: 2;
}

.advantages__map {
    position: absolute;
    right: -8%;
    top: -24%;
}

/*Блок с причинами посещения*/
.reasons {
    margin-bottom: 50px;
}

.reasons .container {
    width: 288px;
    overflow: hidden; 
}

.reasons__title {
font-family: InterSemiBold;
font-size: 25px;
text-align: center;
color: var(--bg-button);
margin-bottom: 32px;
}

.reasons__items {
    display: flex;
    gap: 20px;
    transition: transform 0.5s ease-in-out; 
}

.reasons__item {
    box-sizing: border-box;
    flex: 0 0 288px;
    padding: 16px;
    border: 1px solid #ff7700b3;
    border-radius: 40px;
}

.reasons__number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 29px;
    background: #FB9A49;
    border-radius: 16px;
    font-family: InterSemiBold;
    font-size: 24px;
    color: var(--color-white);
    margin-bottom: 12px;
}

.reasons__text {
    font-family: InterSemiBold;
    font-size: 24px;
    line-height: 29px;
    color: var(--text-color-main);
    margin-bottom: 32px;
}

.reasons__img img {
    width: 100%;
}

.slider__btn {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
}

.prev, .next {
width: 24px;
height: 24px;
border: none;
cursor: pointer;
}

.prev svg, .next svg {
    fill-opacity: 0.15;
}

.controls, .results__controls {
font-family: InterRegular;
font-size: 18px;
line-height: 22px;
color: var(--text-color-main);
}

.controls ul, .results__controls ul {
    display: flex;
    list-style: none;
}

.controls ul li, .results__controls ul li {
    padding: 8px;
}

.prev svg:hover, .next svg:hover {
    fill-opacity: 1;
    transition: transform 0.5s ease-in-out;
}


/* Отзывы */
.reviews {
    margin: 50px 0;
}

.reviews .container {
    width: 288px;
    overflow: hidden; 
}

.reviews__title {
font-family: InterBold;
font-size: 42px;
text-align: center;
color: var(--bg-button);
margin-bottom: 32px;
}

.reviews__items {
    display: flex;
    gap: 20px;
    transition: transform 0.5s ease-in-out; 
}

.review-card {
display: flex;
flex-direction: column;
align-items: flex-start;
box-sizing: border-box;
flex: 0 0 288px;
padding: 32px;
gap: 32px;
background: var(--color-white);
border: 1px solid #FF7700; 
border-radius: 40px;
}

.review-card__author {
font-family: InterSemiBold;
font-size: 32px;
color: #2F6BEA;
}

.review-card__rating {
    display: flex;
    flex-direction: column;
}

.review-card__date {
font-family: InterSemiBold;
font-size: 22px;
color: #B5B5B5;
}

.review-card__stars {
display: flex;
align-items: center;
gap: 10px;
font-size: 40px;
color: #FECE0F;
}

.review-card__text {
font-family: InterRegular;
font-size: 18px;
line-height: 22px;
color: var(--text-color-main);
}

.review-slider__btn {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
}

.review-prev, .review-next {
width: 24px;
height: 24px;
border: none;
cursor: pointer;
}

.review-prev svg, .review-next svg {
    fill-opacity: 0.15;
}

.review-controls {
font-family: InterRegular;
font-size: 18px;
line-height: 22px;
color: var(--text-color-main);
}

.review-controls ul {
    display: flex;
    list-style: none;
}

.review-controls ul li {
    padding: 8px;
}

.review-prev svg:hover, .review-next svg:hover {
    fill-opacity: 1;
    transition: transform 0.5s ease-in-out;
}

/* Блок с акцией и скидкой */
.promotion {
    margin: 50px 0;
}

.promotion__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #ff770026;
    border-radius: 40px;
}

.promotion__action {
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 20px 20px;

}

.promotion__title {
font-family: InterExtraBold;
font-size: 27px;
color: #686868;
}

.promotion__text, .promotion__plus {
font-family: InterMedium;
font-size: 27px;
line-height: 30px;
color: #686868;
}

.promotion__text span {
    font-family: InterBold;
    font-style: italic;
}

.promotion__img {
    margin-top: -40px;
}

.promotion__img img {
    width: 100%;
}

.promotion__button {
    margin: 16px auto;
}

.promotion__btn {
    width: 100%;
    margin-top: 16px;
    padding: 10px;
    background: var(--bg-button);
    border-radius: 40px;
    border: none;
    font-family: InterSemiBold;
    font-size: 18px;
    color: var(--color-white);
    cursor: pointer;
}

.promotion__btn:hover {
   background: var(--bg-button-hover);
}

.promotion__coupon {
    margin: 16px auto;
font-family: InterRegular;
font-size: 16px;
text-align: center;
color: #686868;
}

.promotion__coupon span {
font-family: InterBold;
font-size: 16px;
color: #222222;
}

/* Блок с результатами */
.results {
    overflow: hidden;
    margin-bottom: 30px;
}

.results .container {
    margin: 0 auto;
}

.results__title {
    margin-bottom: 32px;
font-family: InterBold;
font-size: 27px;
text-align: center;
color: #FF7700;
}

.results__items {
    display: flex;
    gap: 50px;
    width: 100%;
}

.results__img {
    position: relative;
    width: 288px;
}

.results__phone {
    width: 100%;
}

.play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.play:hover path {
    fill: #FF7700;
    fill-opacity: 1;
    transition: transform 0.5s ease-in-out;
}

.results__patient {
    position: absolute;
    top: 7.5%;
    left: 4.5%;
    width: 260px;
}

.results__player {
display: flex;
justify-content: space-between;
align-items: center;
padding: 16px 32px;
position: absolute;
left: 4%;
width: 200px;
bottom: 40px;
background: #00000099;
}

.results__svg {
    display: flex;
    align-items: center;
    color: var(--color-white);
}

.results__svg svg {
    margin-right: 15px;
    cursor: pointer;
}

.results__svg svg:hover path {
    fill: #FF7700;
    transition: transform 0.5s ease-in-out;
}

.results-slider__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.results__prev,  .results__next{
width: 24px;
height: 24px;
border: none;
cursor: pointer;
}

.prev svg:hover, .next svg:hover {
    fill-opacity: 1;
    transition: transform 0.5s ease-in-out;
}