* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: InterSemiBold;
    src: url('/src/fonts/Inter-SemiBold.otf');
}

@font-face {
    font-family: InterRegular;
    src: url('/src/fonts/Inter-Regular.otf');
}

:root {
    --main-bg-color: #F0F2F4;
    --bg-button: #E46A00;
    --bg-button-hover: #FF9131;
    --text-color-menu: #686868;
    --text-color-button: #FFFFFF;
    --text-color-main: #222222;
}

body {
    background-color: var(--main-bg-color);
}

/*Header*/
.header {
    display: grid;
    grid-template-columns: 140px 79px;
    grid-template-rows: 40px; 
    gap: 15px;
    justify-content: space-between;
    padding: 16px 12px 16px 15px;
}

.header__burger {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 79px;
    height: 40px;
    background: var(--bg-button);
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.menu.menu--mobile {
    display: none;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    font-family: InterSemiBold;
    color: var(--text-color-menu);
}

.menu__item {
    font-size: 20px;
    line-height: 24px;
    line-height: 24px;
    text-decoration: none;
}

.header__button {
    grid-column: 1 / 3;
    width: 100%;
    height: 40px;
    padding: 6px 32px;
    margin: 0 auto;
    background: var(--bg-button);
    border-radius: 8px;
    border: none;
    font-family: InterSemiBold;
    color: var(--text-color-button);
    font-size: 16px;
    cursor: pointer;
}

.header__button:hover, .header__burger:hover {
    background-color: var(--bg-button-hover);
}

/*Блок с таймером и акцией*/
.container {
    padding: 0 16px;
}

.promo {
    height: 670px;
    background-image: url('/src/img/main-img-mobile.png');
    background-position-y: 255%;
    background-size: cover;
}

.promo__text {
    position: sticky;
    top: 0;
    z-index: 2;
    font-family: InterSemiBold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--text-color-main);
    margin-bottom: 16px;
}

.promo__timer-title {
    font-family: InterSemiBold;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    color: var(--text-color-main);
    margin-bottom: 16px;
}

.timer {
    display: flex;
    justify-content: center;
    gap: 8px;
    color: #6F6A6A;
    margin-bottom: 16px;
}

.separator {
    margin: auto 0;
    padding: 8px 0px;
    font-family: InterSemiBold;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
}

.timer__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 59px;
    height: 60px;
    background: var(--text-color-button);
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    font-family: InterSemiBold;
    font-size: 24px;
}

.timer__label {
    font-size: 12px;
}

.counter__text {
    display: block;
    font-family: InterSemiBold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--text-color-main);
}

.promo__content {
    position: relative;
    margin-top: 38px;
    width: 100%;
    height: 300px;
}

.promo__dignity {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 186px;
    height: 38px;
    margin: 0 auto;
    background: var(--text-color-button);
    border-radius: 8px;
    transform: rotate(-2deg);
    font-family: InterSemiBold;
    color: var(--text-color-main);
}

.promo__title {
    position: absolute;
    top: 48px;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 38px;
    background: var(--text-color-button);
    border-radius: 8px;
    transform: rotate(2deg) translateX(-50%);
    font-family: InterSemiBold;
    color: var(--text-color-main);
    z-index: -2;
}

.promo__highlight {
    position: absolute;
    top: 32%;
    right: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 123px;
    height: 38px;
    background: #F5CF77;
    border-radius: 32px;
    transform: rotate(4deg) translatey(-50%);    
    font-family: InterSemiBold;
    color: var(--text-color-main);
    z-index: -1;
}

.promo__img {
position: absolute;
width: 100%;
top: 24%;
left: 0;
}

.promo__description {
    position: absolute;
    left: 50%;
    width: 100%;
    padding: 0px 0px 16px;
    transform: translateX(-50%);
    bottom: 0;
    border-bottom: 1px solid #686868;
    font-family: InterRegular;
    font-size: 16px;
}

.promo__description span {
    font-family: InterSemiBold;
}

.promo__footer {
    position: absolute;
    bottom: -27%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.promo_button {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 361px;
    padding: 8px 8px 8px 24px;
    background: #FFCC00;
    border-radius: 8px;
    border: none;
    font-family: InterSemiBold;
    font-size: 22px;
    color: var(--text-color-main);
    cursor: pointer;
}

.promo_button svg {
    padding: 15px;
    background-color: var(--bg-button);
    border-radius: 8px;
}